<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>Plain Leaflet API</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet'/>
    <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }

    </style>
</head>
<body>
<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiaWZlZW5leSIsImEiOiJjbDRvaHJlZXgwNTNvM25udmVkbGs5Z3JrIn0.3QR9ZDt-EZQGPvlsgXYlMg';

var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
       attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
       tileSize: 512,
       zoomOffset: -1
});

var map = L.map('map')
  .addLayer(mapboxTiles)
  .setView([37.7212677001953, -122.160202026367], 12);

function postPerson(lat,lon,uuid) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/topic/people', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        lat: lat,
        lon: lon,
        id: uuid
    }));
}
    var redIcon = new L.Icon({
        iconUrl: 'static/images/marker.png',
        shadowUrl: 'static/images/marker_shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

var people={};
map.on('click', function(e) {
    var myLayer = L.geoJSON().addTo(map);


    var marker1 = L.marker([e.latlng.lat, e.latlng.lng], {icon: redIcon}).addTo(map);
    var pt = {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [e.latlng.lng, e.latlng.lat]
      },
      properties: {}
    };
    var buffered = turf.buffer(pt, 2.5, {units: 'miles'});
    var uuid = uuidv4();

    myLayer.clearLayers()
    myLayer.addData(buffered);
    setTimeout(() => {
        myLayer.clearLayers();
        map.removeLayer(marker1);
        clearTaxiRequest(uuid);
    }, 15000);

    people[uuid]=[];
    postPerson(e.latlng.lat, e.latlng.lng, uuid);
});

function clearTaxiRequest(uuid){
    if(typeof people[uuid] !== 'undefined') {
        var taxiMarkers = people[uuid];
        for (var i = 0; i < taxiMarkers.length; i++) {
            map.removeLayer(taxiMarkers[i].marker);
        }
        delete people[uuid];
    }
}

function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

var people = new EventSource('/topic/taxiPeople'); //TODO: - Replace people with taxiPeople
people.addEventListener('message', function(e){


    taxiPerson = JSON.parse(e.data);
    console.log(taxiPerson);

    var person = taxiPerson.bufferedPerson;
    var personId = person.personId.id;
    var taxi = taxiPerson.taxi;
    var markers = people[personId];
        console.log(markers);
    if(typeof markers !== 'undefined') {
        var taxiIndex = -1;
        for (var i = 0; i < markers.length; i++) {
            if(markers[i].id == taxi.id.id){
                taxiIndex = i;
                break;
            }
        }
        if(taxiIndex >-1 ) {
            map.removeLayer(markers[i].marker);
        }
        var taxiMarker = L.marker([taxi.position.coordinates[1], taxi.position.coordinates[0]]).addTo(map);
        if(taxiIndex >-1 ) {
            markers[i].marker = taxiMarker;
        }else {
            markers.push({id:taxi.id.id,marker:taxiMarker});
        }
    }
}, false);

</script>
</body>
</html>